# TouchDesigner backup files
Backup/

# Rendered outputs
TDMovieOut*.mov
Console*.mov
TDMovieOut*.mp4
Console*.mp4
Test_Mormyrid.mp4

NEAQ.*.toe
NEAQ_*.toe

# Archives / distribution artifacts
*.zip
*.rar
*.7z

# macOS system files
__MACOSX/
.DS_Store

# Python cache (common in TouchDesigner when using scripts)
__pycache__/
*.pyc
NEAQ.324.toe
